<!DOCTYPE html>
<head>
  <title>Anna Dowlin</title>
  <script src="/home/ec2-user/hack4congress/mysite/static/jquery-1.11.2.js" type="text/javascript"></script>
  <script type='text/javascript' src='/home/ec2-user/hack4congress/mysite/static/chosen.js'></script>
  <link rel="stylesheet" href="/home/ec2-user/hack4congress/mysite/static/style.css">
  <link rel="stylesheet" href="/home/ec2-user/hack4congress/mysite/static/chosen.css">
  <link rel="stylesheet" href="/home/ec2-user/hack4congress/mysite/static/prism.css">
  
  <style>
    body {
      text-align: center;
      background: url("http://dash.ga.co/assets/anna-bg.png");
      background-size: cover;
      background-position: center;
      color: white;
      font-family: helvetica;
    }
    p {
      font-size: 22px;
    }
    input {
      border: 0;
      padding: 10px;
      font-size: 18px;
    }
    input[type="submit"] {
      background: red;
      color: white;
    }
  </style>
</head>
<body>
  <img src="http://dash.ga.co/assets/anna.png">
  <p>Hi! I'm Rachel! I can help you find the right person to talk to for the issue you're most concerned about!</p>
  
  <script type="text/javascript">
  $(document).onload = 
    $(function(){
    $(".chzn-select").chosen();
	});
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
  <script src="../static/chosen_js.js" type="text/javascript"></script>
  <script src="../static/prism.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">
    var config = {
      '.chosen-select'           : {},
      '.chosen-select-deselect'  : {allow_single_deselect:true},
      '.chosen-select-no-single' : {disable_search_threshold:10},
      '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
      '.chosen-select-width'     : {width:"95%"}
    }
    for (var selector in config) {
      $(selector).chosen(config[selector]);
    }
  </script>
  
  <form action="/result">
  <select data-placeholder="Pick an issue" class="chzn-select" style="width:350px;" tabindex="-1" multiple="false" name="id" style="width:200px;">
    {%for interest in interests%}
      <option value="{{interest}}">{{interest}}</option>
	    {%endfor%}
  </select>
  <input type="submit" value="Find influencers">
  </form>
  
  
  


</body>