<!DOCTYPE html>
<head>
  <title>Anna Dowlin</title>
  <script src="/static/jquery-1.11.2.js"></script>
  <script type='text/javascript' src='/static/chosen.jquery-1.11.2.js'></script>
  <link rel="stylesheet" type="text/css" href="chosen.min.css" /
  <style>
    body {
      text-align: center;
      background: url("http://dash.ga.co/assets/anna-bg.png");
      background-size: cover;
      background-position: center;
      color: white;
      font-family: helvetica;
    }
    p {
      font-size: 22px;
    }
    input {
      border: 0;
      padding: 10px;
      font-size: 18px;
    }
    input[type="submit"] {
      background: red;
      color: white;
    }
  </style>
</head>
<body>
  <img src="http://dash.ga.co/assets/anna.png">
  <p>Hi! I'm Rachel! I can help you find the right person to talk to for the issue you're most concerned about!</p>
  
  <form action="hack4congress_results.html">
  <input type="text" placeholder="I'm concerned about...">
  <input type="submit" value="Send Me!">
  </form>
  
  <!-- multiple dropdown -->
	<select class="chosen" multiple="true" style="width:400px;">
	<option>Choose...</option>
	<option>jQuery</option>
	<option selected="selected">MooTools</option>
	<option>Prototype</option>
	<option selected="selected">Dojo Toolkit</option>
	</select>
</body>